node_modules/
.expo/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.iml
.cxx/
*.keystore
!android/app/debug.keystore
_rncli_seed/
_rncli_seed_hw/
_android_bare/
_expo_android_backup/